/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  /* margin: 0;
  padding: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #000 98%, #0000) 55% 20%/8px 8px
      no-repeat,
    #ffcc00;
  box-shadow: 2px -6px 12px 0px inset rgba(0, 0, 0, 0.7);
  animation: l4 0.5s infinite steps(5) alternate;
}

.hidden {
  display: none;
}

@keyframes l4 {
  0% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0,
      0 0,
      0 100%,
      100% 100%,
      100% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      100% 65%,
      100% 0,
      0 0,
      0 100%,
      100% 100%,
      100% 35%
    );
  }
}

form {
  display: flex;

  gap: 8px;
  width: 371px;
  height: 40px;
  margin: 36px auto 32px;
}

.search-input {
  font-family: 'Montserrat';

  padding: 10px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
}

.search-button {
  font-family: 'Montserrat';

  padding: 8px 16px;
  font-size: 16px;
  width: 91px;

  border: none;
  background-color: #4e75ff;
  color: white;
  border-radius: 8px;
}

.load-more {
  font-family: 'Montserrat';

  padding: 8px 16px;
  font-size: 16px;
  width: 125px;

  border: none;
  background-color: #4e75ff;
  color: white;
  border-radius: 8px;
}

.search-button:hover,
.load-more:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;

  justify-content: flex-start;
}

.card {
  display: flex;
  flex-direction: column;

  width: 360px;

  border: 1px solid #808080;
  background: white;

  margin-bottom: 24px;
}

.card-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 48px;
  width: 360px;

  font-size: 14px;
  color: #2e2f42;
}

.card-image {
  height: 200px;
  width: 360px;
}

.iziToast-capsule {
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
